@model IEnumerable<MvcExamenApiSeries.Models.Serie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdSerie  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdSerie  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdSerie })
            </td>
            <td>
                <a class="btn btn-success" 
                   asp-controller="SerieServicio"
                   asp-action="MostrarPersonaje"
                   asp-route-idserie="@item.IdSerie">
                    Mostar Personajes
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
